@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: white;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    /* border: 1px solid blue; */
    border-radius: 20px;
    width: 240px;
    background-color: #242636;
    margin:5px;
    /* padding: 10px; */
}
.sidebar nav{
    margin-top:30px;
    
}
.sidebar h1 {
    /* border: 1px solid black; */
    margin: 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    animation: slideIn 0.5s ease-in-out;
}

.logo{
    display:flex;
    flex-direction:column;

}
.logo img {
    width: 40px;
    height: 40px;
}
.modal-content img{
    width:100%;
}


.logo h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu {
    display: flex;
    flex-direction:row;
    /* margin-bottom:20px; */
    /* margin-left:30px; */
    align-items: center;
    gap: 1.5rem;
    padding:0.2rem 2rem;
    /* border: 1px solid white; */
    color: #a0aec0;
    cursor: pointer;
    /* z-index: 10; */
    /* border-radius: 0.5rem; */
    transition: all 0.3s ease;
}
.menu i{
    font-size: 22px;
}

.menu:hover {
    /* background-color: #2d3748; */
    /* color: white; */
    color: #f8c810;
    /* transform: scale(1.1); */
}


.menu.active {
    /* background-color: #7008e8;
    color: white; */
    color: #f8c810;
}
#code-options{
    /* display:none; */
    padding:0;
    margin-left:20px;
    width:250px;
    border: 1px solid white;
}
#voice-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    color: #555;
}
.uploadPage {

    margin-top: auto;
    padding-top: 1rem;
}

/* .upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    background-color: #7008e8;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
} */
.upload-btn{
    display:flex;
    align-items: center;
    margin-right:2rem;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    cursor: pointer;
    color:white;
    padding: 0.8em 1.2em 0.8em 1.2em;
    /* transition: all ease-in-out 0.2s; */
    font-size: 16px;
  
}
#upload-form span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    gap:0.4rem;
  }

.upload-btn:hover {
    background-color: #0071e2;
  }



#file-input {
    display: none;
}

.main-content {
    flex: 1;
    padding: 20px;
}
.main-content::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
    background: transparent; /* Make the background transparent */
}

/* .nav {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
} */
.top-bar{
    /* border: 1px solid black; */
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    /* height:100px; */
}


.search-bar{
    /* width:60%; */
    /* border: 1px solid black; */
    display:flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    margin-left:10px;

}
.container-input {
    /* border: 1px solid black; */
    /* width:60%; */
    position: relative;
    padding: 10px;
  }
  .input {
    font-size: 16px;
    height: 30px;
    width: 300px;
    padding: 10px 0px 10px 50px;
    border-radius: 9999px;
    border:1px solid #A6AEBF;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    background-color: #f8f8f8;
  }
  .container-input svg {
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
.input:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly bigger shadow on hover */
}
.input:focus {
    width:400px;
    /* border:2px solid #A6AEBF; */
}
.box3 {
    background-color: #f8f9fb;
    width: 350px;
    /* background: white; */
    padding: 20px;
    border-left: 1px solid #ddd;
}
.body-top{
    /* border: 1px solid black; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .files-grid {
    margin-top:16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.right-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons{
    padding:0;
    margin-top:8px;
    width: 150px;
    align-items: center;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    
}
.profile{
    display: flex;
       align-items: center;
       justify-content:center;
       gap: 1rem;
} 
.profile img {
    border-radius: 20px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: transform 0.3s ease;
}   
.profile img:hover {
    transform: scale(1.1);
}




.bot-icon {
    /* display: none; */
    
    font-size: 20px;
    border: 1px solid black;
    
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #0c1024;
    color: white;
    cursor: pointer;
    padding: 15px 18px;
    transition: all 0.4s ease;
    border: 3px solid;
    
  }          
